@media only screen and (min-width: 1200px) {
    .container{
        width: 100%;        
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .name-pos{
        display: none;
    }

    .logo{
        transform: scale(1.5, 1.5);
        margin-left: 40px;
    }

    button{
        height: 40px;
        width: 130px; 
    }

    .links{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .box{
        margin-left: 30px;
        width: 93%;
        height: 100px;
        grid-column-start: 2;
        grid-column-end: 3;

        .logo-2{
            height: 55px;
            width: 55px;
        }

        .cont{
            margin-left: 17px;
            h1{
                font-size: 28px;
            }
            
            h2{
                font-size: 14px;
                font-weight: 500;
                color: $primary;
            }
        }
    }

    .box-1{
        width: 93%;
        height: 100px; 
        background-color: white;
        border-radius: 5px;
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .box-1-title{
            margin-left: 25px;
            font-size: 25px; 
        }

        .box-1-button{
            margin-left: 25px;
            margin-top: 10px;
            font-size: 20px;
        }
        button{
            height: 30px;
            width: 120px;  
        }
    }
    .footer-alt{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 93%;
        margin: auto;
        margin-top: 10px;
        display: flex;

        h1{
            font-size: 11px;
            margin-right: 40px;
            color: $secondary;
        }
    }

    footer{
        display: none;
    }
}