@media only screen and (min-width: 768px){
    
    body{
        background-color: rgb(185, 185, 185);
    }
    .container{
        background-color: rgb(236, 235, 235);
        width: 80%;
        box-shadow: 2px 2px rgb(170, 170, 170);
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;


    }
}