@media (min-width: 768px)
{
    header{
        height: 450px;
        
        .imag{
            height: 130px;
            width: 130px;
            top: 45%;
        }
        
        .tag{
            left: 60px;
            h1{
                font-size: 45px;
            }

            h3{
                font-size: 16px;
            }
        }

        .button{
            h4{
                font-size: 16px;
                padding: 13px 25px;
            }
        }
    }

    .container{

        .link-box{
            margin-left: 60px;
            height: 84px;
            padding-left:5px;

            .icon{
                img{
                    width: 60px;
                    height: 60px;
                  }
            }

            .content{ 
                margin-left: 15px;
                h3{
                  font-size: 32px;
                  font-weight: normal;
                }
          
                h5{
                  font-size: 16px;
                  font-weight: lighter;
                }
              }
        }
    }

    footer{
        .f-container{        
            h4{
              
              font-size: 12px;
            }
          }
    }




}